// color
$white :#FFFFFF;
$black: #000000;

$primary: #AA0601;
$primary-dark: #650300;

//font
$font-noto: 'Noto Sans TC', sans-serif;
$font-roboto: 'Roboto', sans-serif;

$font-size-base: 1rem; //16px
$font-size-s: $font-size-base * 0.875; //14px
$font-size-m: $font-size-base * 1.25; //20px
$font-size-l: $font-size-base * 1.5; //24px
$font-size-xl: $font-size-base * 2.25; //36px

$font-size-h4: $font-size-base * 1.5; //24px
$font-size-h3: $font-size-base * 3; //48px
$font-size-h2: $font-size-base * 4; //64px


$medium: 500;

@mixin hide-text {
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

//RWD
@mixin lg {
    @media (max-width: 992px){
        @content
    }
}

@mixin tablet {
    @media (max-width: 768px){
        @content
    }
}

@mixin sm {
    @media (max-width: 576px){
        @content
    }
}

@mixin xs {
    @media (max-width: 320px),(max-width: 575px){
        @content
    }
}