.nav {
  background-color: $primary;
  padding: 12px 0;

  h1 a {
      max-width: 80px;
      @include hide-text;
  }

  li {
      position: relative;
      margin-left: 64px;

      a {
          display: block;
          font-size: $font-size-m;
          color: $white;

          &:hover {
              font-weight: bold;
          }

          &:after {
              content: "";
              position: absolute;
              width: 0;
              left: 0;
              bottom: -3px;
              background-color: $white;
          }

          &:hover:after {
              width: 100%;
              height: 1px;
              transition: all .6s;
          }
      }
  }

  @include tablet {
      li {
          margin-left: 30px;
      }
  }

  @include sm {
      padding: 0;

      .container {
          max-width: 100%;
          padding: 0;
          flex-direction: column;
          align-items: flex-start;
      }

      h1 {
          padding: 12px 0;
          margin-left: 15px;
      }

      ul {
          width: 100%;
          flex-wrap: wrap;
      }

      li {
          width: 50%;
          margin-left: 0px;
          text-align: center;
          border: 1px solid $white;

          a {
              line-height: 48px;
              font-size: $font-size-base;
          }
      }
  }
}