.blog-nav {
    background-color: $secondary;

    a {
        display: block;
        color: $white;
        font-size: $font-size-m;
        font-weight: bold;
        line-height: 56px;

        &:hover {
            opacity: .85;
        }
    }

    li {
        margin-right: 24px;
    }

    span {
        color: $white;
        font-size: 29px;
        cursor: pointer;
    }

    @include sm {
        display: none;
    }
}

.blog {
    padding: 96px 0 64px 0;

    h2 {
        margin-bottom: 32px;
        border-left: 8px solid #9F1213;
        padding-left: 16px;
        font-size: $font-size-h3;
        font-weight: bold;
    }

    img {
        max-width: 636px;
        margin-right: 1%;
    }

    .article-preview {
        width: 49%;
        flex-direction: column;
    }

    li {
        position: relative;
        margin-bottom: 60px;
        &:hover{
            filter: brightness(105%);
        }
    }

    h3 {
        font-size: 32px;
        color: $primary;
    }

    h4 {
        display: inline-block;
        margin-bottom: 16px;
        font-weight: 500;
    }

    p {
        color: #555555;
        font-size: $font-size-m;
    }

    a {
        display: block;
        color: $primary;
        font-weight: 900;
        font-size: $font-size-xl;
        text-align: right;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }

    @include lg {
        img {
            max-width: 48%;
            height: auto;
            object-fit: cover;
        }

        .article-preview {
            width: 48%;
        }

        p {
            font-size: $font-size-base;
        }
    }

    @include tablet {
        h3 {
            font-size: $font-size-l;
        }

        h4 {
            font-size: $font-size-base;
            margin-bottom: 4px;
        }

        a {
            font-size: 0px;
        }

        p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 6;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    @include sm {
        padding: 40px 0;

        h2 {
            font-size: $font-size-l;
        }

        li {
            flex-direction: column;
            height: auto;
            margin-bottom: 24px;
        }

        p {
            display: none;
        }

        img {
            max-width: 100%;
            max-height: 208px;
            margin-bottom: 8px;
        }

        .article-preview {
            width: 100%;
        }
    }
}

.pages {
    margin-bottom: 80px;
    height: 48px;

    ul {
        justify-content: center;
    }

    li {
        margin-right: -1px;
        line-height: 48px;
        text-align: center;
        border: 1px solid #555555;

        a {
            color: #555555;
            padding: 0 16px;
        }

        &:hover {
            background-color: #F2F2F2;
        }
    }

    .select a {
        color: $white;
        background-color: $black;
    }

    .last,
    .next {
        li a {
            background-color: $white;
            padding: 0 12px;
        }
    }

    a {
        display: block;
    }

    @include sm{
        li a{
            padding: 0 14px;
        }
    }
}

//page2
.blog-article {
    padding: 24px 0 80px 0;

    a {
        color: $black;
    }

    .tag {
        color: $primary;
        margin-right: 16px;
        font-size: 24px;
    }

    ul {
        max-width: 856px;
        flex-direction: column;
        margin-right: 24px;
    }

    li {
        margin-bottom: 40px;

        img {
            display: block;
            width: 100%;
            height: auto;
            margin-bottom: 8px;
        }
    }

    h2 {
        font-size: $font-size-h3;
    }
    
    h3 {
        font-size: $font-size-l;
        font-weight: 500;
        margin-bottom: 16px;
    }

    @include tablet {
        padding: 8px 0 80px 0;

        ul {
            max-width: 516px;
        }

        li {
            margin-bottom: 24px;
        }

        img {
            margin-bottom: 16px;
        }
    }

    @include sm {
        padding: 16px 0 64px 0;

        h2 {
            font-size: $font-size-l;
        }

        h3 {
            font-size: $font-size-base;
        }

        li {
            margin-bottom: 16px;
        }
    }
}

.title {
    color: $primary;
}

.content {
    li {
        color: #555555;
    }
}

.tag {
    max-width: 260px;
    font-weight: bold;
    color: $primary;

    h2 {
        font-size: 32px;
    }

    span {
        font-size: 38px;
        font-weight: bold;
        margin-right: 12px;
        margin-bottom: 0;
    }

    a {
        display: inline-block;
        color: $primary;
        font-size: $font-size-l;
        margin-right: 24px;
        margin-bottom: 4px;
    }

    @include tablet {
        max-width: 140px;
        font-size: $font-size-base;

        h2,
        span,
        a {
            font-size: $font-size-base;
        }

        a {
            margin-right: 16px;
            margin-bottom: 0;
        }

        span {
            margin-right: 2px;
        }
    }

    @include sm {
        display: none;
    }
}

.article-footer {
    max-width: 856px;

    @include tablet {
        max-width: 100%;
    }

    @include xs {
        display: none;
    }
}

.share {
    color: #0A0A0A;
    border-bottom: 1px solid #707070;
    margin-bottom: 24px;
    padding-bottom: 16px;

    span {
        display: inline-block;
        font-weight: bold;
    }

    a {
        display: inline-block;
        height: 24px;
    }

    a,
    span {
        margin-right: 16px;
    }

    img {
        display: inline-block;
        width: 24px;
    }

    @include tablet {
        margin-top: 16px;
    }
}

.page-last-next {
    a {

        &:hover {
            font-weight: bold;
        }
    }

    p {
        display: inline-block;
        font-size: $font-size-base;
        margin: 0 12px;
    }

    span {
        font-size: $font-size-base;
        font-weight: bold;
    }
}