.shop {
    padding: 96px 0 32px 0;

    h2 {
        font-size: $font-size-h3;
        padding-left: 16px;
        border-left: 8px solid #9F1213;
        font-weight: bold;
        margin-bottom: 32px;
    }

    .shop-contact {
        padding: 16px 28px;
        border: 1px solid #00000020;
    }
    
    .select-location {
        margin-bottom: 41px;
    }

    span {
        max-width: 96px;
        font-size: $font-size-l;
        margin-right: 28px;
    }

    select {
        display: inline-block;
        width: 304px;
        height: 38px;
        color: #495057;
        border: 1px solid #CED4DA;
    }

    @include sm {
        padding: 40px 0 40px 0;

        h2 {
            font-size: $font-size-m;
        }

        span {
            font-size: $font-size-base;
            margin-right: 8px;
            width: 24%;
        }

        select {
            width: 75%
        }

        .select-location {
            justify-content: space-between;
        }
    }
}

.shop-iist {
    ul {
        flex-wrap: wrap;

        &:after {
            content: "";
            width: 32%;
        }
    }

    li {
        width: 32%;
        margin-bottom: 48px;
    }

    h3 {
        font-size: $font-size-l;
        padding: 8px 24px;
        border: 1px solid #00000020;
    }

    p {
        display: inline-block;
        font-size: $font-size-m;
    }

    span {
        font-size: $font-size-m;
        line-height: 1.5;
        margin-right: 12px;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .icon,
    .text {
        flex-direction: column;
    }

    a {
        display: block;
        width: 100%;
        text-align: center;
        line-height: 59px;
        color: $white;
        background-color: $black;
    }

    @include tablet {
        li {
            width: 48%;
        }
    }

    @include sm {
        ul{
            justify-content: center;
        }
        
        li {
            width: 98%;
            margin-bottom: 24px;
        }
    }
}