<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>情人特別企劃 | Red Glasses</title>
    <%- include('./layout/head-setting'); -%>
</head>

<body>
    <%- include('./layout/header'); -%>
    <main>
        <section class="blog-nav">
            <div class="container">
                <div class="d-flex align-center justify-content-between">
                    <ul class="d-flex align-center">
                        <li><a href="#">最新消息</a></li>
                        <li><a href="#">特別企劃</a></li>
                        <li><a href="#">新品上市</a></li>
                        <li><a href="#">鏡框小知識</a></li>
                    </ul>
                    <span class="material-symbols-outlined">search</span>
                </div>
            </div>
        </section>

        <section class="blog-article">
            <div class="container">
                <span><a href="index.html">首頁</a> / <a href="blog.html">部落格</a> / <a href="#">特別企劃</a> / <span
                        class="title">情人特別企劃</span></span>
                <br>
                <a class="tag" href="#">#special</a><a class="tag" href="#">#event</a>
                <div class="content">
                    <div class="d-flex">
                        <ul class="d-flex">
                            <h2>情人特別企劃</h2>
                            <h3>2020 Valentine’s Special</h3>
                            <li>
                                <img src="../assets/images/desktop/blogpage-1.png" alt="blogpage-1">
                                <p>一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。
                                    <br>本次拍攝的鏡框款式與 NEEDS CLASSIC聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
                                </p>
                            </li>
                            <li>
                                <img src="../assets/images/desktop/blogpage-2.png" alt="blogpage-2">
                                <p>一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。
                                    <br>本次拍攝的鏡框款式與 NEEDS CLASSIC聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
                                </p>
                            </li>
                            <li>
                                <img src="../assets/images/desktop/blogpage-3.png" alt="blogpage-3">
                                <p>一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。
                                    <br>本次拍攝的鏡框款式與 NEEDS CLASSIC聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
                                </p>
                            </li>
                            <li>
                                <img src="../assets/images/desktop/blogpage-4.png" alt="blogpage-4">
                                <p>一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。
                                    <br>本次拍攝的鏡框款式與 NEEDS CLASSIC聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
                                </p>
                            </li>
                        </ul>

                        <div class="tag">
                            <h2 class="d-flex align-center">
                                <span class="material-symbols-outlined">label</span>
                                TAGS
                            </h2>
                            <a href="#">#special</a>
                            <a href="#">#sale</a>

                            <a href="#">#new_item</a>
                            <a href="#">#interview</a>

                            <a href="#">#trivia</a>
                            <a href="#">#news</a>

                            <a href="#">#event</a>
                        </div>
                    </div>

                    <div class="article-footer">
                        <div class="share d-flex align-center">
                            <span>Share</span>
                            <a href=""><img src="../assets/images/desktop/logo-facebook.png" alt="logo-facebook"></a>
                            <a href=""><img src="../assets/images/desktop/logo-instagram.png" alt="logo-instagram"></a>
                        </div>

                        <div class="page-last-next d-flex align-center justify-content-between">
                            <a class="d-flex align-center" href="#">
                                <span class="material-symbols-outlined">arrow_back</span>
                                <p>上一篇：街頭潮人訪問 1</p>
                            </a>
                            <a class="d-flex align-center" href="#">
                                <p>下一篇：街頭潮人訪問 2</p><span class="material-symbols-outlined">arrow_forward</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('./layout/footer'); -%>
</body>

</html>