<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FUNCTIONAL系列鏡框 | Red Glasses</title>
    <%- include('./layout/head-setting'); -%>
</head>

<body>
    <%- include('./layout/header'); -%>
        <main>
            <section class="series-nav">
                <div class="container">
                    <ul class="d-flex">
                        <li><a href="series.html">OPTICAL</a></li>
                        <li><a href="series_sunglasses.html">SUNGLASSES</a></li>
                        <li class="selected"><a href="series_functional.html">FUNCTIONAL</a></li>
                    </ul>
                </div>
            </section>

            <section class="product-banner d-flex">
                <img src="../assets/images/desktop/product-header-1.png" alt="product-header-1">
                <img src="../assets/images/desktop/product-header-2.png" alt="product-header-2">
                </div>
            </section>

            <section class="functional products-list">
                <div class=" container">
                    <div class="series-name">
                        <h2>Error</h2>
                        <h3>發生錯誤</h3>
                    </div>
                </div>
            </section>

            <section class="pages">
                <div class="container">
                    <ul class="d-flex">
                        <li class="last"><a href="#">上一頁</a></li>
                        <li><a href="#">1</a></li>
                        <li class="select"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li class="next"><a href="#">下一頁</a></li>
                    </ul>
                </div>
            </section>
        </main>
    <%- include('./layout/footer'); -%>
</body>

</html>