<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUNGLASSES系列鏡框 | Red Glasses</title>
    <%- include('./layout/head-setting'); -%>
</head>

<body>
    <%- include('./layout/header'); -%>
    <main>
        <section class="series-nav">
            <div class="container">
                <ul class="d-flex">
                    <li><a href="series.html">OPTICAL</a></li>
                    <li class="selected"><a href="">SUNGLASSES</a></li>
                    <li><a href="series_functional.html">FUNCTIONAL</a></li>
                </ul>
            </div>
        </section>
        
        <section class="product-banner d-flex">
            <img src="../assets/images/desktop/product-header-1.png" alt="product-header-1">
            <img src="../assets/images/desktop/product-header-2.png" alt="product-header-2">
            </div>
        </section>
        
        <section class="sunglasses products-list">
            <div class="container">
                <div class="series-name">
                    <h2>2020 NEW COLLECTION</h2>
                    <h3>賽璐珞鈦金屬混合鏡框</h3>
                </div>
                <ul class="d-flex ">
                    <li>
                        <a href="#"><img src="../assets/images/desktop/product-7.png" alt="product-7"></a>
                        <div class="d-flex justify-content-between">
                            <p>BJ41600S</p>
                            <span>NTD3,490</span>
                        </div>
                        <div class="color-options">
                            <div href="#" class="color-brown"></div>
                            <div href="#" class="color-brown-light"></div>
                        </div>
                    </li>
                    <li>
                        <a href="#"><img src="../assets/images/desktop/product-8.png" alt="product-8"></a>
                        <div class="d-flex justify-content-between">
                            <p>BJ41600S</p>
                            <span>NTD3,490</span>
                        </div>
                        <div class="color-options">
                            <div href="#" class="color-brown"></div>
                            <div href="#" class="color-brown-light"></div>
                        </div>
                    </li>
                    <li>
                        <a href="#"><img src="../assets/images/desktop/product-9.png" alt="product-9"></a>
                        <div class="d-flex justify-content-between">
                            <p>BJ41600S</p>
                            <span>NTD3,490</span>
                        </div>
                        <div class="color-options">
                            <div href="#" class="color-brown"></div>
                            <div href="#" class="color-brown-light"></div>
                        </div>
                    </li>
                    <li>
                        <a href="#"><img src="../assets/images/desktop/product-10.png" alt="product-10"></a>
                        <div class="d-flex justify-content-between">
                            <p>BJ41600S</p>
                            <span>NTD3,490</span>
                        </div>
                        <div class="color-options">
                            <div href="#" class="color-brown"></div>
                            <div href="#" class="color-brown-light"></div>
                        </div>
                    </li>
                    <li>
                        <a href="#"><img src="../assets/images/desktop/product-11.png" alt="product-11"></a>
                        <div class="d-flex justify-content-between">
                            <p>BJ41600S</p>
                            <span>NTD3,490</span>
                        </div>
                        <div class="color-options">
                            <div href="#" class="color-brown"></div>
                            <div href="#" class="color-brown-light"></div>
                        </div>
                    </li>
                    <li>
                        <a href="#"><img src="../assets/images/desktop/product-12.png" alt="product-12"></a>
                        <div class="d-flex justify-content-between">
                            <p>BJ41600S</p>
                            <span>NTD3,490</span>
                        </div>
                        <div class="color-options">
                            <div href="#" class="color-brown"></a>
                            <div href="#" class="color-brown-light"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        
        <section class="pages">
            <div class="container">
                <ul class="d-flex">
                    <li class="last"><a href="#">上一頁</a></li>
                    <li><a href="#">1</a></li>
                    <li class="select"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li class="next"><a href="#">下一頁</a></li>
                </ul>
            </div>
        </section>
    </main>
    <%- include('./layout/footer'); -%>
</body>

</html>