<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北中山店 | Red Glasses</title>
    <%- include('./layout/head-setting'); -%>
</head>

<body>
    <%- include('./layout/header'); -%>
    <main>
        <section class="shop-detail">
            <div class="container">
                <h2>門市據點</h2>
                <div class="select-location d-flex align-center">
                    <span>選擇分店</span>
                    <select name="location">
                        <option selected="Taipei-zhongshan">台北中山旗艦店</option>
                        <option value="Taichung-zhongshan">台北中山旗艦店</option>
                        <option value="Tainan-zhongshan">台北中山旗艦店</option>
                    </select>
                </div>
                <div class="shop-info d-flex justify-content-between">
                    <div class="shop-detail-card">
                        <div class="card-img">
                            <img src="../assets/images/desktop/store-1.png" alt="store-1">
                        </div>
                        <div class="card-body">
                            <h3>台北中山旗艦店</h3>
                            <div class="shop-contact d-flex">
                                <div class="d-flex flex-column">
                                    <span class="material-symbols-outlined">call</span>
                                    <span class="material-symbols-outlined">schedule</span>
                                    <span class="material-symbols-outlined">location_on</span>
                                </div>
                                <div class="d-flex flex-column">
                                    <p>電話：(02)000-1234</p>
                                    <p>營業時間：10:00-21:00</p>
                                    <p>地址：台北市中山區南京東路25巷2-1號</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="map">
                        <img src="../assets/images/desktop/storepage-2.png" alt="">
                    </div>
                </div>
        </section>
    </main>
    <%- include('./layout/footer'); -%>
</body>

</html>